#img { /*Concerne les grands écrans : image fait 50% de la taille de ma page*/
  width: 50%;
  /* background-color: blue; */
}
/* concerne les écrans moyen (tablette)*/
@media screen and (max-width: 992px) {
  body {
    /* background-color: red; */
}
  #img {
    width: 75%;
}
/* concerne les petits écrans*/
@media screen and (max-width: 576px) {
  body {
    /* background-color: green; */
}
  #img {
    width: 100%;
}
